spring:
  data:
    mongodb:
      host: mongodb
      username: ${MONGO_USERNAME:username}
      password: ${MONGO_PASSWORD:password}
      database: ${MONGO_DATABASE:twitter}
    
    redis:
      host: redis

